.home-page {
  &__welcome {
    heigth: 100vh;
  }
  &__explore {
    &__title {
      color: $dark-font-color;
      font-weight: 300;
    }
    background: linear-gradient(to top, $blue, white);
    heigth: 100vh;
  }
}
