.user-hero {
  font-family: $font-family;
  font-size: 14px;
  font-weight: 500;
  overflow-y: hidden;
  &__illustration {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    &__avatar {
      height: 5rem;
      width: 5rem;
    }
  }
  &__content {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    @media (min-width: $md) {
      padding-top: 1rem;
      text-align: left;
    }
    &__name {
      color: $middle-font-color;
      overflow-y: hidden;
      &__first {
        margin-right: 0.25rem;
      }
    }
    &__email {
      color: $light-font-color;
    }
    &__add {

    }
  }
}
