.user-item {
  margin-left: 20%;
  margin-right: 20%;
  @media (min-width: $md) {
    margin-left: 0;
    margin-right: 0;
  }
  &__illustration {
    padding: 0.5rem;
    @media (min-width: $lg) {
      padding: 1rem;
    }
    &__avatar {
      max-width: 3.5rem;
      @media (min-width: $lg) {
        max-width: 6rem;
      }
    }
  }
  &__content {
    padding: 0.25rem;
    @media (min-width: $lg) {
      padding: 1rem;
    }
    &__name {
      font-weight: bold;
      font-size: 16px;
      @media (min-width: $lg) {
        font-size: 22px;
      }
      margin-bottom: 0.25rem;
    }
    &__email {
      font-size: 10px;
      @media (min-width: $lg) {
        font-size: 16px;
      }
      margin-bottom: 0.25rem;
    }
    &__modes {
      &__item {
        margin-right: 0.1rem;
        @media (min-width: $lg) {
          padding: 1rem;
        }
        &__icon {

        }
      }
    }
  }
}
